@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #FFFFFF;
  --foreground: #39383A;
  --card: #FFFFFF;
  --card-foreground: #39383A;
  --popover: #FFFFFF;
  --popover-foreground: #39383A;

  --primary: #9956F6;
  --primary-foreground: #FFFFFF;

  --secondary: #F5EEFE;
  --secondary-foreground: #39383A;

  --muted: #A2A1A6;
  --muted-foreground: #49484B;

  --accent: #F0E6FE;
  --accent-foreground: #39383A;

  --destructive: #DF5E5E;
  --border: #E2E2E3;
  --input: #F1F1F2;
  --ring: #9956F6;

  --chart-1: #9956F6;
  --chart-2: #8A4DDD;
  --chart-3: #7A45C5;
  --chart-4: #7341B9;
  --chart-5: #5C3494;

  --sidebar: #F6F6F6;
  --sidebar-foreground: #39383A;
  --sidebar-primary: #9956F6;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F5EEFE;
  --sidebar-accent-foreground: #39383A;
  --sidebar-border: #E2E2E3;
  --sidebar-ring: #9956F6;
}

.dark {
  --background: #39383A;
  --foreground: #F6F6F6;
  --card: #49484B;
  --card-foreground: #F6F6F6;
  --popover: #49484B;
  --popover-foreground: #F6F6F6;

  --primary: #7341B9;
  --primary-foreground: #FFFFFF;

  --secondary: #45276F;
  --secondary-foreground: #F6F6F6;

  --muted: #7A797D;
  --muted-foreground: #E2E2E3;

  --accent: #5C3494;
  --accent-foreground: #F6F6F6;

  --destructive: #C93838;
  --border: #F6F6F6;
  --input: #616164;
  --ring: #8A4DDD;

  --chart-1: #9956F6;
  --chart-2: #8A4DDD;
  --chart-3: #7A45C5;
  --chart-4: #5C3494;
  --chart-5: #361E56;

  --sidebar: #361E56;
  --sidebar-foreground: #F6F6F6;
  --sidebar-primary: #7341B9;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #45276F;
  --sidebar-accent-foreground: #F6F6F6;
  --sidebar-border: #F1F1F2;
  --sidebar-ring: #9956F6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
